.tag {
    border-radius: 22px;
    border-width: 1px;
    border-style: solid;
    width: min-content;
    padding: 5px;
}

.tag:empty {
    display: none;
}

.tag-list {
    display: flex;
    align-content: space-evenly;
    column-gap: 10px;
}

.no-btn {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
    text-align: center;
    background-color: white;
    color: #FF6026FF;
    width: 150px;
    border: 1pt solid #FF6026FF;
    border-radius: 6px;
}
