.tag {
    display: flex;
    border-radius: 22px;
    border-width: 1px;
    border-style: solid;
    width: min-content;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    position: relative;
}

.x-btn {
    width: min-content;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    margin-left: 5px;
}

.btn-text {
    font-size: 8pt;
    font-weight: 400;
}

.tag:empty {
    display: none;
}

.tag-list {
    display: flex;
    align-content: space-evenly;
    column-gap: 10px;
}

.tagbtn {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
    text-align: center;
    background-color: white;
    color: #FF6026FF;
    width: 150px;
    border: 1pt solid #FF6026FF;
    border-radius: 6px;
}
